@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9f9f9;
	--color-gray-100: #f2f2f2;
	--color-gray-200: #e5e5e5;
	--color-gray-300: #d4d4d4;
	--color-gray-400: #a3a3a3;
	--color-gray-500: #737373;
	--color-gray-600: #525252;
	--color-gray-700: #404040;
	--color-gray-800: #262626;
	--color-gray-900: #171717;
	--color-gray-950: #0a0a0a;

	--color-rm-red: #FF3300;
	--color-rm-purple: #6600CC;
	--color-rm-black: #000000;
	--color-rm-blue: #0033FF;
	--color-rm-pink: #FF0066;
	--color-rm-yellow: #FFFF00;
	--color-rm-green: #00FF33;
	--color-rm-bg: #F4F2ED;

	--font-sans: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	--font-display: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@layer base {
	html {
		background-color: var(--color-rm-bg);
		color: var(--color-rm-black);
		font-family: var(--font-sans);
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
